NutrientTracker/controle-nutricional.json
{
  "name": "Controle Nutricional - Telegram + Gemini + Google Sheets",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {
          "download": true
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [-2040, 0],
      "webhookId": "b2c3d4e5-webhook-0002",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Bot Nutrição"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "cond-photo",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Foto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "id": "cond-audio",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Tipo de Mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-1800, 0]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.photo.slice(-1)[0].file_id }}",
        "additionalFields": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Telegram GetFile Foto",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [-1560, -240],
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Bot Nutrição"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Telegram GetFile Áudio",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [-1560, 0],
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Bot Nutrição"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "text": "=Você é um assistente nutricional que analisa fotos de alimentos.\nAnalise a foto enviada, identifique todos os alimentos visíveis e estime as porções.\n{{ $('Telegram Trigger').item.json.message.caption ? 'Legenda da foto: ' + $('Telegram Trigger').item.json.message.caption : '' }}\n\nRetorne SOMENTE um JSON válido com esta estrutura:\n\n{\n  \"data\": \"YYYY-MM-DD\",\n  \"refeicao\": \"\",\n  \"alimento\": \"\",\n  \"calorias\": 0,\n  \"proteina\": 0,\n  \"carboidratos\": 0,\n  \"gordura\": 0\n}\n\nRegras:\n- \"data\": formato ISO (YYYY-MM-DD). Use a data da mensagem: {{ new Date($('Telegram Trigger').item.json.message.date * 1000).toISOString().slice(0,10) }}\n- \"refeicao\": classifique como uma das opções: [\"Café da Manhã\", \"Almoço\", \"Lanche\", \"Jantar\", \"Ceia\"]. Tente inferir pelo horário da mensagem ({{ new Date($('Telegram Trigger').item.json.message.date * 1000).toISOString().slice(11,16) }} UTC, fuso America/Sao_Paulo = UTC-3). Se não souber, use \"Outro\".\n- \"alimento\": descreva os alimentos identificados de forma concisa (ex: \"2 ovos mexidos, 1 banana, café com leite\").\n- \"calorias\": estimativa total em kcal.\n- \"proteina\": estimativa total de proteína em gramas.\n- \"carboidratos\": estimativa total de carboidratos em gramas.\n- \"gordura\": estimativa total de gordura em gramas.\n\nImportante:\n- Responda somente JSON válido, sem texto extra, explicações ou comentários.\n- Não adicione ```json no início, comece direto em \"{\".\n- Base suas estimativas em tabelas nutricionais de referência para porções típicas brasileiras.\n- Se não conseguir identificar com certeza, faça sua melhor estimativa.\n",
        "inputType": "binary",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [-1320, -240],
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Gemini Analisa Foto",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "text": "=Você é um assistente nutricional que analisa descrições de refeições em áudio (português do Brasil).\nTranscreva o áudio e extraia os alimentos e quantidades mencionados.\n\nRetorne SOMENTE um JSON válido com esta estrutura:\n\n{\n  \"data\": \"YYYY-MM-DD\",\n  \"refeicao\": \"\",\n  \"alimento\": \"\",\n  \"calorias\": 0,\n  \"proteina\": 0,\n  \"carboidratos\": 0,\n  \"gordura\": 0\n}\n\nRegras:\n- \"data\": formato ISO (YYYY-MM-DD). Se o áudio mencionar \"hoje\", \"ontem\" ou um dia da semana, interprete em relação à data da mensagem: {{ new Date($('Telegram Trigger').item.json.message.date * 1000).toISOString().slice(0,10) }}. Se não mencionado, use essa data.\n- \"refeicao\": classifique como uma das opções: [\"Café da Manhã\", \"Almoço\", \"Lanche\", \"Jantar\", \"Ceia\"]. Tente inferir pelo contexto do áudio ou pelo horário da mensagem ({{ new Date($('Telegram Trigger').item.json.message.date * 1000).toISOString().slice(11,16) }} UTC, fuso America/Sao_Paulo = UTC-3). Se não souber, use \"Outro\".\n- \"alimento\": descreva os alimentos mencionados de forma concisa (ex: \"2 ovos mexidos, 1 banana, café com leite\").\n- \"calorias\": estimativa total em kcal.\n- \"proteina\": estimativa total de proteína em gramas.\n- \"carboidratos\": estimativa total de carboidratos em gramas.\n- \"gordura\": estimativa total de gordura em gramas.\n\nImportante:\n- Responda somente JSON válido, sem texto extra, explicações ou comentários.\n- Não adicione ```json no início, comece direto em \"{\".\n- Base suas estimativas em tabelas nutricionais de referência para porções típicas brasileiras.\n- Aceite expressões coloquiais (ex: \"um prato de arroz e feijão\", \"dois pãezinhos\").\n",
        "inputType": "binary",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [-1320, 0],
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Gemini Analisa Áudio",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "text": "=Você é um assistente nutricional que analisa descrições textuais de refeições em português do Brasil.\n\nMensagem do usuário: {{ $('Telegram Trigger').item.json.message.text }}\n\nRetorne SOMENTE um JSON válido com esta estrutura:\n\n{\n  \"data\": \"YYYY-MM-DD\",\n  \"refeicao\": \"\",\n  \"alimento\": \"\",\n  \"calorias\": 0,\n  \"proteina\": 0,\n  \"carboidratos\": 0,\n  \"gordura\": 0\n}\n\nRegras:\n- \"data\": formato ISO (YYYY-MM-DD). Se o texto mencionar \"hoje\", \"ontem\" ou um dia da semana, interprete em relação à data da mensagem: {{ new Date($('Telegram Trigger').item.json.message.date * 1000).toISOString().slice(0,10) }}. Se não mencionado, use essa data.\n- \"refeicao\": classifique como uma das opções: [\"Café da Manhã\", \"Almoço\", \"Lanche\", \"Jantar\", \"Ceia\"]. Tente inferir pelo contexto do texto ou pelo horário da mensagem ({{ new Date($('Telegram Trigger').item.json.message.date * 1000).toISOString().slice(11,16) }} UTC, fuso America/Sao_Paulo = UTC-3). Se não souber, use \"Outro\".\n- \"alimento\": descreva os alimentos mencionados de forma concisa (ex: \"2 ovos mexidos, 1 banana, café com leite\").\n- \"calorias\": estimativa total em kcal.\n- \"proteina\": estimativa total de proteína em gramas.\n- \"carboidratos\": estimativa total de carboidratos em gramas.\n- \"gordura\": estimativa total de gordura em gramas.\n\nImportante:\n- Responda somente JSON válido, sem texto extra, explicações ou comentários.\n- Não adicione ```json no início, comece direto em \"{\".\n- Base suas estimativas em tabelas nutricionais de referência para porções típicas brasileiras.\n- Aceite expressões coloquiais (ex: \"um prato de arroz e feijão\", \"dois pãezinhos\", \"2 ovos e uma banana\").\n- Se a mensagem não contiver informações sobre alimentos (ex: comandos como /start), retorne o JSON com alimento vazio e valores zero.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [-1320, 240],
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Gemini Analisa Texto",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content.parts[0].text;\nlet cleaned = raw.trim()\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .replace(/^\\uFEFF/, '');\n\nlet data;\ntry {\n  data = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(\"Não consegui fazer JSON.parse do retorno do modelo. Conteúdo:\\n\" + cleaned);\n}\n\nreturn [{\n  json: {\n    data: data.data || new Date().toISOString().slice(0,10),\n    refeicao: data.refeicao || 'Outro',\n    alimento: data.alimento || '',\n    calorias: Number(data.calorias) || 0,\n    proteina: Number(data.proteina) || 0,\n    carboidratos: Number(data.carboidratos) || 0,\n    gordura: Number(data.gordura) || 0\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1080, 0],
      "id": "b2c3d4e5-0002-0002-0002-000000000008",
      "name": "Parseia JSON"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $json.data }}",
            "Refeição": "={{ $json.refeicao }}",
            "Alimento": "={{ $json.alimento }}",
            "Calorias": "={{ $json.calorias }}",
            "Proteína (g)": "={{ $json.proteina }}",
            "Carboidratos (g)": "={{ $json.carboidratos }}",
            "Gordura (g)": "={{ $json.gordura }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Data", "displayName": "Data", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Refeição", "displayName": "Refeição", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Alimento", "displayName": "Alimento", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Calorias", "displayName": "Calorias", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true },
            { "id": "Proteína (g)", "displayName": "Proteína (g)", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true },
            { "id": "Carboidratos (g)", "displayName": "Carboidratos (g)", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true },
            { "id": "Gordura (g)", "displayName": "Gordura (g)", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-840, 0],
      "id": "b2c3d4e5-0002-0002-0002-000000000009",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Refeição registrada! ✅\n\n{{ $('Parseia JSON').item.json.alimento }}\n\nCalorias: {{ $('Parseia JSON').item.json.calorias }} kcal\nProteína: {{ $('Parseia JSON').item.json.proteina }}g\nCarboidratos: {{ $('Parseia JSON').item.json.carboidratos }}g\nGordura: {{ $('Parseia JSON').item.json.gordura }}g\n\n{{ $('Parseia JSON').item.json.refeicao }} | {{ $('Parseia JSON').item.json.data }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-600, 0],
      "id": "b2c3d4e5-0002-0002-0002-000000000010",
      "name": "Responde no Telegram",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Bot Nutrição"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Tipo de Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Mensagem": {
      "main": [
        [
          {
            "node": "Telegram GetFile Foto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram GetFile Áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Analisa Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram GetFile Foto": {
      "main": [
        [
          {
            "node": "Gemini Analisa Foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram GetFile Áudio": {
      "main": [
        [
          {
            "node": "Gemini Analisa Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Analisa Foto": {
      "main": [
        [
          {
            "node": "Parseia JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Analisa Áudio": {
      "main": [
        [
          {
            "node": "Parseia JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Analisa Texto": {
      "main": [
        [
          {
            "node": "Parseia JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parseia JSON": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Responde no Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
