ExpenseTracker/controle-financeiro.json
{
  "name": "Controle Financeiro - Telegram + Gemini + Google Sheets",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {
          "download": true
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [-1800, 0],
      "webhookId": "a1b2c3d4-webhook-0001",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Bot Despesas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-audio-check",
              "leftValue": "={{ $json.message.voice.mime_type }}",
              "rightValue": "=audio/ogg",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "É Áudio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1560, 0],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Telegram GetFile",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [-1320, 0],
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Bot Despesas"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "text": "=Você é um assistente financeiro que analisa gravações de voz em português do Brasil.\nSua tarefa é transcrever o áudio e extrair os seguintes dados de uma despesa:\n\n{\n  \"descricao\": \"\",\n  \"categoria\": \"\",\n  \"data\": \"\",\n  \"valor\": 0,\n  \"dividido\": \"\"\n}\n\nRegras:\n- \"descricao\": descreva em poucas palavras a despesa mencionada (ex: \"almoço na padaria\", \"uber para o trabalho\").\n- \"categoria\": classifique em uma das opções: [\"Alimentação\", \"Transporte\", \"Saúde\", \"Moradia\", \"Lazer\", \"Educação\", \"Outros\"].\n- \"data\": use o formato ISO (YYYY-MM-DD).\n  - Se o áudio mencionar \"hoje\", \"ontem\" ou um dia da semana, interprete em relação à data da mensagem (DataMensagem: {{ new Date($node[\"Telegram Trigger\"].json.message.date * 1000).toISOString().slice(0,10) }}).\n- \"valor\": número em reais (aceite expressões como \"45 reais\", \"R$ 23,50\", \"vinte e cinco reais\"). Se não for mencionado, coloque 0.\n- \"dividido\": se o áudio mencionar que foi dividido, rachado, metade, split, ou compartilhado com alguém (namorada, parceira, etc), coloque \"Sim\". Caso contrário, coloque \"Não\".\n\nImportante:\n- Sempre responda somente JSON válido, sem texto extra, explicações ou comentários.\n- Não adicione ```json no inicio, comece direto em \"{\".\n- Não invente valores nem categorias — se não tiver certeza, use \"Outros\".\n",
        "inputType": "binary",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [-1080, 0],
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Gemini Analisa Áudio",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content.parts[0].text;\nlet cleaned = raw.trim()\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .replace(/^\\uFEFF/, '');\n\nlet data;\ntry {\n  data = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(\"Não consegui fazer JSON.parse do retorno do modelo. Conteúdo:\\n\" + cleaned);\n}\n\nreturn [{\n  json: {\n    descricao: data.descricao || '',\n    categoria: data.categoria || 'Outros',\n    data: data.data || new Date().toISOString().slice(0,10),\n    valor: Number(data.valor) || 0,\n    dividido: data.dividido || 'Não'\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-840, 0],
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Parseia JSON"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $json.data }}",
            "Descrição": "={{ $json.descricao }}",
            "Valor": "={{ $json.valor }}",
            "Categoria": "={{ $json.categoria }}",
            "Dividido": "={{ $json.dividido }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Data", "displayName": "Data", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Descrição", "displayName": "Descrição", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Valor", "displayName": "Valor", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": true },
            { "id": "Categoria", "displayName": "Categoria", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Dividido", "displayName": "Dividido", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-600, 0],
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Despesa registrada! ✅\n\n{{ $('Parseia JSON').item.json.descricao }} - R$ {{ $('Parseia JSON').item.json.valor }}\nCategoria: {{ $('Parseia JSON').item.json.categoria }}\nDividido: {{ $('Parseia JSON').item.json.dividido }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-360, 0],
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Responde no Telegram",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Bot Despesas"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "É Áudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Áudio?": {
      "main": [
        [
          {
            "node": "Telegram GetFile",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Telegram GetFile": {
      "main": [
        [
          {
            "node": "Gemini Analisa Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Analisa Áudio": {
      "main": [
        [
          {
            "node": "Parseia JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parseia JSON": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Responde no Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
